body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
  }

h1 {
  text-align: center;
}

#todoInput {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
  outline: none;
}

#addBtn {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#addBtn:hover {
  background-color: #3e8e41;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

li span {
  flex-grow: 1;
  margin-right: 10px;
}

li button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #d32f2f;
}

